@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap'); /* Logo y elegant esence collection  */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap'); /* Links del nav*/
@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre&display=swap'); /* Encabezado */
@import url('https://fonts.googleapis.com/css2?family=Ysabeau&display=swap'); /* Boton compra */

/* Universal y clases globales*/

*{
    margin: 0em;
    padding: 0em;
}


nav{
    display: flex;
    justify-content: space-between;
}

nav a{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-size: 0.9683em;
    color: #0B0B0B;
    font-weight: bold;
}

/* Aqui comienza el nav */

/* Nav izquierdo */

.navizq{
    
    display: flex;
    width: 60%;
    text-align: center;
    align-items: center;
    padding-top: 2.5em;
}
.Ivyrelogo{
    font-family: 'Gloock', serif;
    font-size: 2.6em;
    letter-spacing: -0.1375em;
    width: 6.3em;
    padding-right: 2.05em;
    margin-top: -0.25em;
}

.navizq a{
    margin-left: 3.3em;
    margin-right: 3.3em;
    transition: 0.5s;
}

.navizq a:hover{
    text-shadow: 0.1875em 0.25em 0.1875em grey;
    transform: scale(1.1);
}

/* Nav derecho */

.navder{
    background-color: #D6BDA6;
    width: 40%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 2.5em;
}

.searchicon{
    height: 1.4375em;
    transition: .5s;
    cursor: pointer;
}

.bagicon{
    height: 2.6em;
    margin-left: 1em;
    margin-right: 1em;
    transition: .5s;
    cursor: pointer;
}

.notificacion{
    border: 0.0625em solid black;
    background-color: #F1eadc;
    border-radius: 50%;
    line-height: 1.5em;
    width: 1.56em;
    text-align: center;
    position: relative;
    bottom: 0.78em;
    right: 4em;
    font-size: 0.5625em;
    cursor: pointer;
}

.bagynoti{
    display: flex;
    align-items: center;
    transition: .5s;
}

.linea{
    border-right: 0.15625em solid #BCA692;
    height: 1.875em;
    margin-top: 0.3125em; 
}

.botonsignin{
    margin-right: 2em;
    margin-left: 2.8em;
    text-align: center;
}

.botonsignup{
    border: 0.18em solid #0B0B0B;
    background-color: #D6BDA6;
    width: 6.425em;
    height: 2.25em;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9683em;
    font-weight: bold;
    margin-right: 6.85em;
    transition: .5s;
    cursor: pointer;
}

.navder a{
    transition: 0.5s;
}

.navder a:hover{
    text-shadow: 0.1875em 0.25em 0.1875em grey;
    transform: scale(1.1);
}

.botonsignup:hover{
    transform: scale(1.1);
    box-shadow: 0.1875em 0.25em 0.1875em grey;    
}

.searchicon:hover , .bagynoti:hover{
    transform: scale(1.1);
}

/* Aqui comienza el main */

/* Main */

section{
    display: flex;
}

/* Div izq */

.mainizq{ 
    width: 60%;
}

.encabezado{
    color: #0B0B0B;
    font-size: 7em;
    font-family: 'Frank Ruhl Libre', serif;
    padding-top: 2.5em;
    padding-bottom: 0.580em;
    line-height: 0.96em;
    letter-spacing: -0.073em;
    width: 6.4em;
    margin-left: 0.811em;
}

.compra{
    font-size: 1.2em;
    font-family: 'Ysabeau', sans-serif;
    font-weight: bold;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    padding-left: 1.9em;
    padding-right: 1.9em;
    border: 0.1875em solid #0B0B0B;
    color: #0B0B0B;
    margin-left: 5em;
    background-color: white;
    transition: .5s;
    cursor: pointer;
}

.parrafo{  
    color: #635959;
    padding-top: 10em;
    width: 20em;
    letter-spacing: -0.055em;
    font-size: 1.25em;
    margin-left: 4.8em;
}

.compra:hover{
    box-shadow: 0.1875em 0.25em 0.1875em grey;
    margin-left: 9.375em;
}
